:root {
    --c-brand: #FF69B4;
}

a,
p,
li, 
.item[data-v-798ef1f0],
.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    font-weight: 700;
}

.custom-block.tip {
    border-color: #7fd5ea;
}

.nav-bar-title:hover {
    color: var(--c-brand);
}

h4 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    line-height: 1;
    font-size: 1.45rem;
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item, 
.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item{
    font-weight: 500;
}